 /*Nav bar*/
*{
    margin:0;
}

body{
    text-align: center;
}
.wrapper{
    width:100%;
    background-color: grey;
    overflow:auto;
    text-align:center;
}

.logo{
    font-size: larger;
    font-weight: bold;
}

.wrapper a{
    text-align: center;
    float:left;
    padding: 40px;
    color:white;
    text-decoration: none;
    font-size:22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper a:hover{
    color: greenyellow;
}

#cartB, #SignB, #emB{
    float:right;
    font-size: 17px;
    
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

/*Responsive Nav bar*/
@media screen and (max-width:500px)
{
    .wrapper a{
        float:none;
        display:block;
    }
}

/*Sign In*/
h2 {
    width: 100%; 
    text-align: center; 
    font-family: verdana;
    padding: .5em .5em;
    overflow: hidden;
} 

h2:before, h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2:before {
    right: 0.5em;
    margin-left: -50%;
    }

h2:after {
    left: 0.5em;
    margin-right: -50%;
}

h5{
    font-weight: normal;
    font-family: verdana;
}

body {
    font-family: Verdana;
    text-align: center;
    background-color: rgb(234, 247, 203);
}

label{
    font-size: small;
}

input{
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    font-size: 15px;
    outline: none;
    font-weight: bold;
}

button{
    border: none;
    border-radius: 4px;
    background-color: rgb(186,190,182);
    padding: 10px;
    float: center;
}

button:hover{
    background-color:yellowgreen;
    color: white;
    font-weight:bold;
}

h6{
    font-weight: normal;
}

#forgotpwd{
    border: none;
    border-radius: 4px;
    background-color: rgb(186,190,182);
    float: center;
    width: 100px;
    height:20px;
    font-size: 9px;
    padding: 5px;
}

#forgotpwd:hover{
    background-color:yellowgreen;
    color: white;
    font-weight:bold;
}
/*Footer*/
.bottom{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:grey;
    color:aliceblue;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.bottom a{
    color: aliceblue;
    text-decoration: none;
}

.words{
    padding-top: 20px;
}

.contact{
    float:right;
}
